{% extends 'manager_base.html' %}
{% load static %}

{% block title %}배너 관리{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/banner_manager.css' %}">
{% endblock %}

{% block content %}

        <div class="facility-box">
            <h1 class="box-header">배너 관리</h1>

            

            <table class="facility-table">
                <thead class="facility-table-header">
                    <tr>
                        <th style="width: 80px;">번호</th>
                        <th style="width: 80px;">✔</th>
                        <th>이미지 정보</th>
                        <th style="width: 200px;">등록일</th>
                    </tr>
                </thead>

                <tbody>
                {% for b in banners %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <input type="checkbox" name="delete_ids" value="{{ b.img_id }}">
                        </td>
                        <td>
                            {% if b.url %}
                                <a href="/media/{{ b.url }}" download>{{ b.title }}</a>
                            {% else %}
                                {{ b.title }}
                            {% endif %}
                        </td>
                        <td>{{ b.reg_date|date:"Y-m-d H:i" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">등록된 이미지가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>

            <div class="btn-area">
                <a href="{% url 'banner_edit' b.img_id %}"><button type="button" class="edit-btn">수정</button></a>
                <a href="{% url 'banner_form' %}"><button class="register-btn" type="button">이미지 등록</button></a>
                <button class="delete-btn" type="button" onclick="deleteBanners()">삭제</button>
            </div>

        </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/banner_manager.js' %}"></script>
{% endblock %}
