{% extends 'manager_base.html' %}
{% load static %}

{% block title %}배너 관리{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/banner_manager.css' %}">
{% endblock %}

{% block content %}

        <div class="facility-box">
            <h1 class="box-header">배너 관리</h1>

            

            <table class="facility-table">
                <thead class="facility-table-header">
                    <tr>
                        <th style="width: 80px;">번호</th>
                        <th style="width: 80px;">✔</th>
                        <th>이미지 정보</th>
                        <th style="width: 200px;">등록일</th>
                    </tr>
                </thead>

                <tbody>
                    {% for sport in sport_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><input type="checkbox" name="delete_ids" value="{{ sport.id }}"></td>
                        <td>{{ image.name }}</td>
                        <td>{{ image.created_at|default:"-" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" style="text-align:center; padding:20px;">등록된 이미지가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="btn-area">
                <button class="edit-btn">수정</button>
                <button class="register-btn" id="openModal">이미지 등록</button>
                <button class="delete-btn">삭제</button>
            </div>

        </div>

    <!-- 등록 모달 -->
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal">
            <h3>이미지 등록</h3>

            <form action="{% url 'sport_type' %}" method="post">
                {% csrf_token %}
                <input type="text" name="sport_name" placeholder="이미지 이름" required>
                <input type="text" name="sport_name" placeholder="이미지 정보" required>
                <button type="submit" class="btn-submit">등록하기</button>
            </form>

            <button class="btn-close" id="closeModal">닫기</button>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/sport_type_manager.js' %}"></script>
{% endblock %}
