{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/mypage_info.css' %}" />
{% endblock %}
{% block script1 %}
<script src="{% static 'js/info_edit_pw.js' %}"></script>
{% endblock %}
{% block title %}
할래말래 - 비밀번호 수정
{% endblock %}
{% block contents %}



    <!-- 컨텐츠 내용 -->
    <main class="main">

    <h2>마이페이지 > 비밀번호 수정</h2>

    <section class="mypage-profile">

        <form class="mypage-form">


            <!-- 비밀번호 -->


            <div class="info-group">
                <label>현재 비밀번호</label>
                <input type="password" name="orgin_pw">
            </div>

            <div class="info-group">
                <label>새 비밀번호</label>
                <input type="password" name="new_pw1">
            </div>

            <div class="info-group">
                <label>비밀번호 확인</label>
                <input type="password" name="new_pw2">
            </div>

            <!-- 버튼 -->
            <div class="mypage-btn-box">
                <button type="button" class="btn-edit-complete">비밀번호 수정</button>
            </div>
        </form>

    </section>



    </main>




{% endblock %}