{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mypage_base.css' %}" />
<link rel="stylesheet" href="{% static 'css/mypage_info.css' %}" />
{% endblock %}
{% block mypagecss %}
{% endblock %}

{% block script1 %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'js/info.js'%}"></script>
{% endblock %}
{% block title %}
mypage base
{% endblock %}
{% block contents %}
<!-- 회원가입 컨테이너 -->
<div class="register-container">
  <div class="register-wrapper">

    <!-- PC 브랜딩 -->
    <div class="register-brand">
      <h2>My Page</h2>
      <ul class="register-brand-features">
        <li><a href="/member/info/" class="{% if request.path == '/member/info/' %}active{% endif %}">내 정보</a></li>
        <li><a href="/member/myreservation/" class="{% if request.path == '/member/myreservation/' %}active{% endif %}">내 예약 내역</a></li>
        <li><a href="/member/myrecruitment/" class="{% if request.path == '/member/myrecruitment/' %}active{% endif %}">내 모집글</a></li>
        <li><a href="/member/myarticle/" class="{% if request.path == '/member/myarticle/' %}active{% endif %}">내 게시글</a></li>
        <li><a href="/member/myjoin/" class="{% if request.path == '/member/myjoin/' %}active{% endif %}">내 참여 내역</a></li>
      </ul>
    </div>

    <!-- 내용 담을 컨테이너 -->
    <main class="main">

    <h2>마이페이지</h2>

    <section class="mypage-profile">

        <form class="mypage-form">


            <!-- 기본 정보 -->
            
            <div class="info-group">
                <label>이름</label>
                <input type="text" name="name" value="{{ name }}" readonly>
            </div>

            <div class="info-group">
                <label>아이디</label>
                <input type="text" name="user_id" value="{{ user_id }}" readonly>
            </div>
            
            <div class="info-group">
                <label>닉네임</label>
                <input type="text" name="nickname" value="{{ nickname }}" readonly>
            </div>

            <div class="info-group">
                <label>생년월일</label>
                <input type="text" name="birthday" value="{{ birthday }}" readonly>
            </div>

            <div class="info-group">
                <label>전화번호</label>
                <input type="text" name="phone" value="{{ phone_num }}" readonly>
            </div>

            <div class="info-group info-group-address">
                <label>주소</label>
                <div class="address-row">
                    <input type="text" value="{{ addr1 }}" readonly>
                    <input type="text" value="{{ addr2 }}" readonly>
                    <input type="text" value="{{ addr3 }}" readonly>
                </div>
            </div>



            <!-- 버튼 -->
            <div class="mypage-btn-box">
                <button type="button" class="btn-edit">정보 수정</button>
                <button type="button" class="btn-password">비밀번호 변경</button>
            </div>

        </form>

    </section>



    </main>




<!-- mypage내용 담을 container -->
  </div> <!-- register-wrapper -->
</div> <!-- register-container -->


{% endblock %}