<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    {% block script1 %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

{% block script2 %}
{% endblock %}

<body style="margin-bottom: 200px;">
    {% include 'layout/header.html' %}
    {% block contents %}
    {% endblock %}
    {% include 'layout/footer.html' %}
</body>

</html>